target/
app.py
venv/
*.jsonl
reports/*.jsonl
reports/*.html
reports/*.csv
# reports/
# *.csv
users_data.csv
gen_udata.py
locustfile.py
test.js
.DS_Store

# allow list
!reports/400k_users_benchmarking.html
!reports/30k_tps_benchmarking.html